extends layout

block layout-content
	script(src="check1.js")
	script(src="allstores.js")
	div#map
	div#rightside
		div#topFrame
			h1
				a(href="https://github.com/rossuber/fruitpicker") FRUIT PICKER #{versionfruit}
		div#bottomFrame
			div
				a(class="option col2 spacer", href="store.htm") Go Back
				div(class="storename")
					a(id="namestore", href=storeurlchk, target="_blank") Store Name
			p(class="thing") #{addresschk}, #{citychk}, #{statechk} #{zipchk}
			div(class="box spacer allitems")
				p(class="thing")#thingname
					span#availasof
					span #{timechk}
				table(class="box key")
					tr
						td(class="key1") Available
					tr
						td(class="key2") Unavailable
				br
				div !{invcheck}
			div#neareststores
	script(src="check2.js")
	script(src="common.js")